{% load static %}
<div>
	<div class="articleTitle">{{ contentToDisplay.title }}</div>
	{% for section in sections %}
	<div class="section">
		<div class="sectionTitle">{{ section.title }}</div>
		<div class="sectionContent">{{ section.content }}</div>
	</div>
	{% endfor %}

	{% if imageCount > 0 %}
	<div class="gallery">
		<div class="galleryTitle">Gallery</div>
		<div class="galleryImages">
			{% for image in images %}
				{% with imgUrl="Images/"|add:image.imageName %}
				<img src="{% static imgUrl %}" alt="{{ imgUrl }}" title="{{ image.title }}" width="100" height="100"/>
				{% endwith %}
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if docCount > 0 %}
	<div class="documents">
		<div class="documentsTitle">Documents</div>
		<div class="documentsList">
			{% for doc in documents %}
				{% with docUrl="Documents/"|add:doc.docName %}
				<embed class="documentView" src="{% static docUrl %}" alt="{{ doc.title }}" width="300" height="200"/>
				{% endwith %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
