li:not(.active) > a > .caretTest {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid;
	display: inline-block;
	height: 0;
	opacity: 1.0;
	vertical-align: top;
	width: 0;
}

.caret {
	margin-left: 5px;
}

a > img.profileIcon {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.carousel {
	margin-top: 5px;
}

.carousel-caption {
	background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.carousel .carousel-caption {
	visibility: hidden;
}

.carousel:hover .carousel-caption {
	visibility: visible;
}

.carousel .carousel-control {
	visibility: hidden;
}

.carousel:hover .carousel-control {
	visibility: visible;
}

body {
	overflow-y: scroll;
}

td > a , th > a , ul > li > a{
	color: rgb(51, 51, 51);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

	text-decoration: none;
	text-decoration-color: rgb(51, 51, 51);
	text-decoration-line: none;
	text-decoration-style: solid;
}

.affix-content {
	height: 100%;
}
